/* --- Allgemeines Styling --- */

:root{
    ---color1: yellow;
    ---color2: black;
    ---color3: red;
    ---color4: white;
    ---color5: yellowgreen;
    ---color6: blue;
    ---color7: rgba(120,45,200,0.5);
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;  
    
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}



/* --- Hilfsklassen ---*/

.standard-container{
    display: flex; 
}

/* --- Topline --- */

.topline{
    background-color: var(---color5);
    position: absolute;
    font-size: 24px;
    left: 0;
    right: 0;
    top: 0;
    height: 88px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.topline h1{
    margin-left: 20px;
}

/* --- Navigation --- */

.top-nav{
    width: 12%;
    font-size: 24px;
    background-color: var(---color1);
    padding-top: 88px;
    min-height: 100vh;
}

.top-nav a{
    display: block;
    text-decoration: none;
    padding: 8px;
    display: flex;
    align-items: center;
    color: var(---color2);
}

.top-nav a:hover{
    background-color: var(---color2);
    color: var(---color3);
    
}
.active-page{
    background-color: var(---color7);
}

.top-nav .active-page a{
    color: var(---color3);
}

/* --- Content --- */

.content{
    width: 87%;
    padding: 32px;
    margin-top: 88px;
    background-color: rgba(55,255,255,0.1);
}

/* --- Homepage --- */

.homepage{
    margin-bottom: 50px;
}

.gameList{
    
    width: 250px;
    background-color: aqua;
}

.gameList a{
    color: var(---color2)
}

.gameList a:hover{
    color: white;
    background-color: green;
}

/* --- Würfelrennen --- */

.game{
    margin-top: 50px;
}

.labelGP{
    margin: 0;
}
.sessionPoints{
    
    border: 1px solid black;
}
.gamePoints{
    font-size: 32px;
    color: yellow;
    border: 1px solid black;
    min-width: 50px;
    text-align: center;
}
.diceValue{
    font-size: 30px; 
}

.player{
    display: block;
    float: left;
    border: 1px solid black;
    padding: 10px;
    height: 312px;
    margin: 20px;
}

.results{
    margin-top: 20px;
    text-align: center;
    
    height: 120px;
    width: 300px;
}

.CPU{
    display: block;
    float: left;
    border: 1px solid black;
    padding: 10px;
    height: 312px;
    margin: 20px;
}

.CPU-decission{
    border: 1px solid black;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.sessionPointsCPU{
    
    border: 1px solid black;
}

.gamePointsCPU{
    font-size: 32px;
    color: yellow;
    border: 1px solid black;
    min-width: 50px;
    text-align: center;
}

.diceValueCPU{
    font-size: 30px;
    
}
.resultsCPU{
    
    text-align: center;
    
    height: 120px;
    width: 300px;
}

.winner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 24px;
    
}

.diffText{
    font-weight: bold;
}

.pointDifferences{
    display: block;
    color: yellow;
    min-width: 48px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.pointsDisplay{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 48px;
}

.game{
    display: flex;
    flex-direction: column;
    background-color: orange;
    border: 1px solid black;
    justify-content: center;
    align-items: start;
    padding: 20px; 
    width: 90%;
}

.game-prepearation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.players{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border: 1px solid black;
    height: 100%;
    max-width: 50%;
    padding: 20px;
}
.player{
    text-align: center;
}

.CPU {
    text-align: center;    
}

.protocol{
    display: flex;
    width: 100%;
    padding: 8px; 
}

.points{
    display: flex;
    border : 1px solid black;
    width: 30%;
    background-color: aqua;
    height: 300px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.protocolPlayer{
    display: flex;
    width: 30%;
}

.protocolCPU{
    display: flex;
    width: 30%;   
}

.diffTextW{
    display: flex;
    justify-content: center;
    align-items: center;
}


.endText{
    display: flex;
    font-weight: bold;
    border: 1px solid black;
    background-color: blue;
    margin: 8px;
    padding: 8px;
}

/* --- Würfelziel --- */

.dicegame2{
    display: block;
    margin-top: 10px;        
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.gameDice2{
    display: block;
    background-color: orange;
    border: 1px solid black;
    padding: 20px;
    float: left;
    width: 500px;
}

.gameDice2::after{
    display: block;
    content: "";
    clear: both;
}

.gameResultsDice2{
    display: block;
    margin-top: 150px;
    width: 500px;
    border: 1px solid black;
}

.otPoints{
    color: red;
    font-size: 32px;
}

.finalPoints{
    color: green;
    font-size: 40px;
}

.overThrown{
    font-size: 24px;
    font-weight: bold;
}

.diceSymbol{
    font-size: 30px;
}

/* --- Guess Number --- */

.gameGN{
    display: flex;
    flex-direction: column;
    background-color: orange;
    border: 1px solid black;
    justify-content: center;
    align-items: start;
    padding: 20px; 
    width: 90%;
    margin-top: 8px;
}

.spanTries{
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 30px;
}

.labelTries{
    float: left;
}

/* --- Handbuch --- */

.manuals{
    background-color: green;
    padding: 8px;
}

.manuals ol li ol{
     list-style: decimal;
     padding: 8px;
}

.manuals ol li ul li{
    list-style: disc;
}

.manualCards{
    margin: 8px;   
    border: 1px solid black;
    background-color: yellow;
}



.manualCards ol li{
    list-style: decimal;
    margin-left: 16px;
}

/*--- Footer ---*/

.footer{
    padding: 100px;
    text-align: center;
    background-color: var(---color6);
    color: var(---color4);            
}

.footer a{
    text-decoration: none;
    color: var(---color4);    
}